In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
import pandas as pd
loan_df = pd.read_csv('/content/drive/MyDrive/study/data/loan.csv')
loan_df

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
0,LP1003,Y,N,4583,128.4,Rural,N
1,LP1005,Y,Y,3000,66.0,City,Y
2,LP1006,Y,N,2583,120.5,City,Y
3,LP1008,N,N,6000,141.4,City,Y
4,LP1011,Y,Y,5417,267.4,City,Y
...,...,...,...,...,...,...,...
595,LP2974,Y,N,3232,108.6,Rural,Y
596,LP2979,Y,N,4106,40.7,Rural,Y
597,LP2983,Y,N,8072,253.4,City,Y
598,LP2984,Y,N,7583,187.6,City,Y
599,LP2990,N,Y,4583,133.2,Suburb,N

In [18]:
loan_df.tail()

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
595,LP2974,Y,N,3232,108.6,Rural,Y
596,LP2979,Y,N,4106,40.7,Rural,Y
597,LP2983,Y,N,8072,253.4,City,Y
598,LP2984,Y,N,7583,187.6,City,Y
599,LP2990,N,Y,4583,133.2,Suburb,N

In [19]:
loan_df.dtypes

loan_id                  object
married_or_not           object
self_employed_or_not     object
applicant_income          int64
loan_amount             float64
property_area            object
loan_status              object
dtype: object

In [20]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_id               600 non-null    object
 1   married_or_not        600 non-null    object
 2   self_employed_or_not  568 non-null    object
 3   applicant_income      600 non-null    int64
 4   loan_amount           589 non-null    float64
 5   property_area         600 non-null    object
 6   loan_status           600 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 32.9+ KB

In [21]:
loan_df.isnull()

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
595,False,False,False,False,False,False,False
596,False,False,False,False,False,False,False
597,False,False,False,False,False,False,False
598,False,False,False,False,False,False,False
599,False,False,False,False,False,False,False

In [22]:
loan_df.describe()

       applicant_income  loan_amount
count        600.000000   589.000000
mean        5412.161667   146.971307
std         6160.362669    85.756442
min          150.000000     9.200000
25%         2880.500000   100.700000
50%         3806.000000   128.000000
75%         5785.000000   168.300000
max        81000.000000   700.300000

In [23]:
loan_df.describe(include='all')

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
count,600,600,568,600.000000,589.000000,600,600
unique,600,2,2,NaN,NaN,3,2
top,LP2990,Y,N,NaN,NaN,Suburb,Y
freq,1,390,488,NaN,NaN,228,408
mean,NaN,NaN,NaN,5412.161667,146.971307,NaN,NaN
std,NaN,NaN,NaN,6160.362669,85.756442,NaN,NaN
min,NaN,NaN,NaN,150.000000,9.200000,NaN,NaN
25%,NaN,NaN,NaN,2880.500000,100.700000,NaN,NaN
50%,NaN,NaN,NaN,3806.000000,128.000000,NaN,NaN
75%,NaN,NaN,NaN,5785.000000,168.300000,NaN,NaN
max,NaN,NaN,NaN,81000.000000,700.300000,NaN,NaN

In [24]:
loan_df.sort_values(by='loan_amount')

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
555,LP2840,N,N,2378,9.2,City,N
13,LP1030,Y,N,1299,17.5,City,Y
91,LP1325,N,N,3620,25.0,Suburb,Y
125,LP1482,Y,Y,3459,25.3,Suburb,Y
542,LP2792,Y,N,5468,26.5,Suburb,Y
...,...,...,...,...,...,...,...
377,LP2243,Y,N,3010,NaN,City,N
467,LP2533,Y,N,2947,NaN,City,N
512,LP2697,N,N,4680,NaN,Suburb,N
538,LP2778,Y,Y,6633,NaN,Rural,N
592,LP2960,Y,N,2400,NaN,City,N

In [25]:
loan_df.sort_values(by='loan_amount', ascending=False)

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
163,LP1585,Y,N,51763,700.3,City,Y
122,LP1469,N,Y,20166,650.2,City,Y
548,LP2813,Y,Y,19484,600.4,Suburb,Y
147,LP1536,Y,N,39999,600.0,Suburb,Y
359,LP2191,Y,N,19730,570.1,Rural,N
...,...,...,...,...,...,...,...
377,LP2243,Y,N,3010,NaN,City,N
467,LP2533,Y,N,2947,NaN,City,N
512,LP2697,N,N,4680,NaN,Suburb,N
538,LP2778,Y,Y,6633,NaN,Rural,N
592,LP2960,Y,N,2400,NaN,City,N

In [26]:
# 고유 컬럼은 인덱스로 설정

loan_df.set_index('loan_id')

,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
loan_id,,,,,,
LP1003,Y,N,4583,128.4,Rural,N
LP1005,Y,Y,3000,66.0,City,Y
LP1006,Y,N,2583,120.5,City,Y
LP1008,N,N,6000,141.4,City,Y
LP1011,Y,Y,5417,267.4,City,Y
...,...,...,...,...,...,...
LP2974,Y,N,3232,108.6,Rural,Y
LP2979,Y,N,4106,40.7,Rural,Y
LP2983,Y,N,8072,253.4,City,Y
LP2984,Y,N,7583,187.6,City,Y
LP2990,N,Y,4583,133.2,Suburb,N

In [27]:
loan_df

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
0,LP1003,Y,N,4583,128.4,Rural,N
1,LP1005,Y,Y,3000,66.0,City,Y
2,LP1006,Y,N,2583,120.5,City,Y
3,LP1008,N,N,6000,141.4,City,Y
4,LP1011,Y,Y,5417,267.4,City,Y
...,...,...,...,...,...,...,...
595,LP2974,Y,N,3232,108.6,Rural,Y
596,LP2979,Y,N,4106,40.7,Rural,Y
597,LP2983,Y,N,8072,253.4,City,Y
598,LP2984,Y,N,7583,187.6,City,Y
599,LP2990,N,Y,4583,133.2,Suburb,N

In [28]:
loan_df = loan_df.set_index('loan_id')

In [29]:
loan_df

,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
loan_id,,,,,,
LP1003,Y,N,4583,128.4,Rural,N
LP1005,Y,Y,3000,66.0,City,Y
LP1006,Y,N,2583,120.5,City,Y
LP1008,N,N,6000,141.4,City,Y
LP1011,Y,Y,5417,267.4,City,Y
...,...,...,...,...,...,...
LP2974,Y,N,3232,108.6,Rural,Y
LP2979,Y,N,4106,40.7,Rural,Y
LP2983,Y,N,8072,253.4,City,Y
LP2984,Y,N,7583,187.6,City,Y
LP2990,N,Y,4583,133.2,Suburb,N

In [30]:
#@title 인덱스 되돌리기
loan_df.reset_index()

,loan_id,married_or_not,self_employed_or_not,applicant_income,loan_amount,property_area,loan_status
0,LP1003,Y,N,4583,128.4,Rural,N
1,LP1005,Y,Y,3000,66.0,City,Y
2,LP1006,Y,N,2583,120.5,City,Y
3,LP1008,N,N,6000,141.4,City,Y
4,LP1011,Y,Y,5417,267.4,City,Y
...,...,...,...,...,...,...,...
595,LP2974,Y,N,3232,108.6,Rural,Y
596,LP2979,Y,N,4106,40.7,Rural,Y
597,LP2983,Y,N,8072,253.4,City,Y
598,LP2984,Y,N,7583,187.6,City,Y
599,LP2990,N,Y,4583,133.2,Suburb,N

In [31]:
loan_df.columns

Index(['married_or_not', 'self_employed_or_not', 'applicant_income',
       'loan_amount', 'property_area', 'loan_status'],
      dtype='object')

In [32]:
#@title column명 변경

loan_df.columns = ['married', 'self_employed', 'applicant_income',
       'loan_amount', 'property_area', 'loan_status']

In [33]:
loan_df

,married,self_employed,applicant_income,loan_amount,property_area,loan_status
loan_id,,,,,,
LP1003,Y,N,4583,128.4,Rural,N
LP1005,Y,Y,3000,66.0,City,Y
LP1006,Y,N,2583,120.5,City,Y
LP1008,N,N,6000,141.4,City,Y
LP1011,Y,Y,5417,267.4,City,Y
...,...,...,...,...,...,...
LP2974,Y,N,3232,108.6,Rural,Y
LP2979,Y,N,4106,40.7,Rural,Y
LP2983,Y,N,8072,253.4,City,Y
LP2984,Y,N,7583,187.6,City,Y
LP2990,N,Y,4583,133.2,Suburb,N

In [34]:
#@title 개별 column 명 변경(디셔너리)

new_columns = {'applicant_income': 'income', 'loan_amount': 'amount'}

In [35]:
loan_df.rename(columns=new_columns)

        married self_employed  income  amount property_area loan_status
loan_id
LP1003        Y             N    4583   128.4         Rural           N
LP1005        Y             Y    3000    66.0          City           Y
LP1006        Y             N    2583   120.5          City           Y
LP1008        N             N    6000   141.4          City           Y
LP1011        Y             Y    5417   267.4          City           Y
...         ...           ...     ...     ...           ...         ...
LP2974        Y             N    3232   108.6         Rural           Y
LP2979        Y             N    4106    40.7         Rural           Y
LP2983        Y             N    8072   253.4          City           Y
LP2984        Y             N    7583   187.6          City           Y
LP2990        N             Y    4583   133.2        Suburb           N

[600 rows x 6 columns]

In [36]:
loan_df = loan_df.rename(columns=new_columns)

In [37]:
loan_df

        married self_employed  income  amount property_area loan_status
loan_id
LP1003        Y             N    4583   128.4         Rural           N
LP1005        Y             Y    3000    66.0          City           Y
LP1006        Y             N    2583   120.5          City           Y
LP1008        N             N    6000   141.4          City           Y
LP1011        Y             Y    5417   267.4          City           Y
...         ...           ...     ...     ...           ...         ...
LP2974        Y             N    3232   108.6         Rural           Y
LP2979        Y             N    4106    40.7         Rural           Y
LP2983        Y             N    8072   253.4          City           Y
LP2984        Y             N    7583   187.6          City           Y
LP2990        N             Y    4583   133.2        Suburb           N

[600 rows x 6 columns]

In [38]:
#@title data type setting

loan_df.dtypes

married           object
self_employed     object
income             int64
amount           float64
property_area     object
loan_status       object
dtype: object

In [39]:
loan_df["income"].astype('float')

loan_id
LP1003    4583.0
LP1005    3000.0
LP1006    2583.0
LP1008    6000.0
LP1011    5417.0
           ...
LP2974    3232.0
LP2979    4106.0
LP2983    8072.0
LP2984    7583.0
LP2990    4583.0
Name: income, Length: 600, dtype: float64

In [40]:
loan_df['income'] = loan_df["income"].astype('float')

In [41]:
loan_df.dtypes

married           object
self_employed     object
income           float64
amount           float64
property_area     object
loan_status       object
dtype: object

In [42]:
#@title series 살펴보기

loan_df['amount'].dtype

dtype('float64')

In [43]:
loan_df['amount'].describe()

count    589.000000
mean     146.971307
std       85.756442
min        9.200000
25%      100.700000
50%      128.000000
75%      168.300000
max      700.300000
Name: amount, dtype: float64

In [44]:
# 문자형 컬럼
loan_df['self_employed'].dtypes

dtype('O')

In [45]:
loan_df['self_employed'].describe()

count     568
unique      2
top         N
freq      488
Name: self_employed, dtype: object

In [46]:
# 컬럼의 담긴 정보 확인
loan_df['self_employed'].unique()

array(['N', 'Y', nan], dtype=object)

In [47]:
# 담긴 정보의 값 확인 (결측값 확인 불가!!)
loan_df['self_employed'].value_counts()

self_employed
N    488
Y     80
Name: count, dtype: int64

In [48]:
# 정보의 값과 결측값 확인
loan_df['self_employed'].value_counts(dropna=False)

self_employed
N      488
Y       80
NaN     32
Name: count, dtype: int64

In [49]:
# 각 값의 비율
loan_df['self_employed'].value_counts(dropna=False, normalize=True)

self_employed
N      0.813333
Y      0.133333
NaN    0.053333
Name: proportion, dtype: float64

In [50]:
# 헷갈리지 쉬운

loan_df[['amount', 'income']]

         amount  income
loan_id
LP1003    128.4  4583.0
LP1005     66.0  3000.0
LP1006    120.5  2583.0
LP1008    141.4  6000.0
LP1011    267.4  5417.0
...         ...     ...
LP2974    108.6  3232.0
LP2979     40.7  4106.0
LP2983    253.4  8072.0
LP2984    187.6  7583.0
LP2990    133.2  4583.0

[600 rows x 2 columns]

In [51]:
#@title DataFrame (row x columns check)
loan_df[['amount']]

         amount
loan_id
LP1003    128.4
LP1005     66.0
LP1006    120.5
LP1008    141.4
LP1011    267.4
...         ...
LP2974    108.6
LP2979     40.7
LP2983    253.4
LP2984    187.6
LP2990    133.2

[600 rows x 1 columns]

In [52]:
#@title Series (row x columns x dtype check)
loan_df['amount']

loan_id
LP1003    128.4
LP1005     66.0
LP1006    120.5
LP1008    141.4
LP1011    267.4
          ...
LP2974    108.6
LP2979     40.7
LP2983    253.4
LP2984    187.6
LP2990    133.2
Name: amount, Length: 600, dtype: float64

- 시리즈(Series): 1차원 데이터 구조로, 인덱스를 가지는 단일 열입니다. 한 종류의 데이터(예: 숫자, 문자열 등) 목록을 저장하고자 할 때 사용됩니다.

- 데이터프레임(DataFrame): 2차원 데이터 구조로, 여러 개의 시리즈(열)로 구성됩니다. 데이터프레임의 특정 열을 선택하면 시리즈가 반환됩니다.

![image.png]()




좀 더 쉽게 이런 그림으로 설명할 수 있을 것 같아요

이미지에서 볼 수 있듯이, 두 개의 시리즈(Series)를 합쳐서 하나의 데이터프레임(DataFrame)을 만들 수 있습니다. 각각의 시리즈는 데이터프레임의 열이 됩니다.

- Series: 각각의 시리즈는 하나의 열을 나타냅니다.
    - 첫 번째 시리즈는 'apples' 열을 나타내며, 인덱스와 값이 있습니다.
    - 두 번째 시리즈는 'oranges' 열을 나타내며, 인덱스와 값이 있습니다.
- DataFrame: 두 개의 시리즈가 결합되어 하나의 데이터프레임을 형성합니다.
    - 데이터프레임은 두 개의 열('apples'와 'oranges')과 여러 개의 행으로 구성됩니다.

In [59]:
#@title 다중 불린 인덱싱

condition1 = loan_df['married'] == 'Y'

In [60]:
loan_df['income'].mean()

np.float64(5412.161666666667)

In [63]:
condition2 = loan_df['income'] > loan_df['income'].mean()

In [64]:
loan_df[condition1 & condition2]

        married self_employed   income  amount property_area loan_status
loan_id
LP1011        Y             Y   5417.0   267.4          City           Y
LP1020        Y             N  12841.0   349.3        Suburb           N
LP1043        Y             N   7660.0   104.1          City           N
LP1046        Y             N   5955.0   315.5          City           Y
LP1066        Y             Y   9560.0   191.1        Suburb           Y
...         ...           ...      ...     ...           ...         ...
LP2948        Y             N   5780.0   192.9          City           Y
LP2953        Y             N   5703.0   128.5          City           Y
LP2959        Y             N  12000.0   497.0        Suburb           Y
LP2983        Y             N   8072.0   253.4          City           Y
LP2984        Y             N   7583.0   187.6          City           Y

[120 rows x 6 columns]

In [65]:
loan_df[condition1 | condition2]

        married self_employed  income  amount property_area loan_status
loan_id
LP1003        Y             N  4583.0   128.4         Rural           N
LP1005        Y             Y  3000.0    66.0          City           Y
LP1006        Y             N  2583.0   120.5          City           Y
LP1008        N             N  6000.0   141.4          City           Y
LP1011        Y             Y  5417.0   267.4          City           Y
...         ...           ...     ...     ...           ...         ...
LP2964        Y             N  3987.0   157.3         Rural           Y
LP2974        Y             N  3232.0   108.6         Rural           Y
LP2979        Y             N  4106.0    40.7         Rural           Y
LP2983        Y             N  8072.0   253.4          City           Y
LP2984        Y             N  7583.0   187.6          City           Y

[442 rows x 6 columns]

In [69]:
condition3 = loan_df['property_area'] == 'City'

In [70]:
loan_df[condition1 | condition2 & ~condition3]

        married self_employed  income  amount property_area loan_status
loan_id
LP1003        Y             N  4583.0   128.4         Rural           N
LP1005        Y             Y  3000.0    66.0          City           Y
LP1006        Y             N  2583.0   120.5          City           Y
LP1011        Y             Y  5417.0   267.4          City           Y
LP1013        Y             N  2333.0    95.3          City           Y
...         ...           ...     ...     ...           ...         ...
LP2964        Y             N  3987.0   157.3         Rural           Y
LP2974        Y             N  3232.0   108.6         Rural           Y
LP2979        Y             N  4106.0    40.7         Rural           Y
LP2983        Y             N  8072.0   253.4          City           Y
LP2984        Y             N  7583.0   187.6          City           Y

[426 rows x 6 columns]

In [54]:
#@title dim 연습

import torch

# 예시 텐서
X = torch.arange(12).reshape(3, 4)
print(X)
print('shape:', X.shape)                                     # torch.size([3,4])

tensor([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]])
shape: torch.Size([3, 4])

In [55]:
print('========================')
print('sum(dim=0) : ', X.sum(dim=0), 'shape : ', X.sum(dim=0).shape)
print('sum(dim=1) : ', X.sum(dim=1), 'shape : ', X.sum(dim=1).shape)

========================
sum(dim=0) :  tensor([12, 15, 18, 21]) shape :  torch.Size([4])
sum(dim=1) :  tensor([ 6, 22, 38]) shape :  torch.Size([3])

In [56]:
print('========================')
print(X.sum(dim=1, keepdim=True),
      "shape:", X.sum(dim=1, keepdim=True).shape)

========================
tensor([[ 6],
        [22],
        [38]]) shape: torch.Size([3, 1])

In [57]:
print('=========softmax=========')
logits = torch.tensor([[1.0, 2.0, 3.0],
                       [0.5, 0.5, 0.5]])        # shape(2,3)
probs = torch.softmax(logits, dim=1)            # 각 행(샘플)마다 확률
print(probs)
print('row sum : ', probs.sum(dim=1))           # 각 행의 합이 1

=========softmax=========
tensor([[0.0900, 0.2447, 0.6652],
        [0.3333, 0.3333, 0.3333]])
row sum :  tensor([1., 1.])

In [58]:
print('=========cat vs stack=========')
A = torch.zeros(2, 3, 4)
B = torch.ones(2, 3, 4)
cat = torch.cat([A, B], dim=1)                  # (2, 3, 4) : 채널 결합
stack = torch.stack([A, B], dim=1)              # (2, 2, 3, 4): 새 축에 쌓임
print('=========cat=========')
print(cat)
print(cat.shape)
print('=========stack=========')
print(stack)
print(stack.shape)

=========cat vs stack=========
=========cat=========
tensor([[[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.]],

        [[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.]]])
torch.Size([2, 6, 4])
=========stack=========
tensor([[[[0., 0., 0., 0.],
          [0., 0., 0., 0.],
          [0., 0., 0., 0.]],

         [[1., 1., 1., 1.],
          [1., 1., 1., 1.],
          [1., 1., 1., 1.]]],


        [[[0., 0., 0., 0.],
          [0., 0., 0., 0.],
          [0., 0., 0., 0.]],

         [[1., 1., 1., 1.],
          [1., 1., 1., 1.],
          [1., 1., 1., 1.]]]])
torch.Size([2, 2, 3, 4])

In [1]:
import pandas as pd
airbnb_df = pd.read_csv('/content/drive/MyDrive/study/data/airbnb.csv')

In [2]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,NaN,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.0,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.0,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115

In [4]:
airbnb_df.describe(include='all')

,id,state,guests,beds,property_type,rating,n_reviews,location,price
count,713,713,713.000000,713.000000,713,700.000000,713.000000,713,713.000000
unique,707,9,NaN,NaN,17,NaN,NaN,166,NaN
top,LN3479,California,NaN,NaN,Apartment,NaN,NaN,"South End, Boston.",NaN
freq,3,165,NaN,NaN,443,NaN,NaN,26,NaN
mean,NaN,NaN,3.161290,1.608696,NaN,94.820000,35.040673,NaN,121.235624
std,NaN,NaN,1.865736,0.967031,NaN,6.175233,51.432101,NaN,96.660215
min,NaN,NaN,1.000000,1.000000,NaN,40.000000,0.000000,NaN,14.000000
25%,NaN,NaN,2.000000,1.000000,NaN,93.000000,4.000000,NaN,98.000000
50%,NaN,NaN,2.000000,1.000000,NaN,96.000000,16.000000,NaN,119.000000
75%,NaN,NaN,4.000000,2.000000,NaN,99.000000,45.000000,NaN,139.000000
max,NaN,NaN,16.000000,8.000000,NaN,100.000000,525.000000,NaN,1800.000000

In [5]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713 entries, 0 to 712
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             713 non-null    object
 1   state          713 non-null    object
 2   guests         713 non-null    int64
 3   beds           713 non-null    int64
 4   property_type  713 non-null    object
 5   rating         700 non-null    float64
 6   n_reviews      713 non-null    int64
 7   location       713 non-null    object
 8   price          713 non-null    int64
dtypes: float64(1), int64(4), object(4)
memory usage: 50.3+ KB

In [6]:
airbnb_df.isna()

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
708,False,False,False,False,False,False,False,False,False
709,False,False,False,False,False,False,False,False,False
710,False,False,False,False,False,False,False,False,False
711,False,False,False,False,False,False,False,False,False
712,False,False,False,False,False,False,False,False,False

In [7]:
airbnb_df.isna().sum()

id                0
state             0
guests            0
beds              0
property_type     0
rating           13
n_reviews         0
location          0
price             0
dtype: int64

In [9]:
airbnb_df[airbnb_df.isna().any(axis=1)]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
1,DB7921,MASSACHUSETTS,4,1,Apartment,NaN,0,"South End, Boston.",115
127,MB7199,Illinois,2,1,Apartment,NaN,0,"Rogers Park, Chicago.",74
189,DE6323,illinois,2,1,Condominium,NaN,0,"South Loop/Printers Row, Chicago.",79
206,ME5527,ILLINOIS,2,1,House,NaN,0,"Garfield Park, Chicago.",52
272,RM9271,illinois,2,1,Apartment,NaN,0,"Lincoln Park, Chicago.",64
275,TA9777,California,2,1,Condominium,NaN,0,"Pacific Heights, San Francisco.",115
366,LP6045,ILLINOIS,2,1,Apartment,NaN,0,"Loop, Chicago.",115
534,DC4208,ILLINOIS,5,3,House,NaN,0,"Little Italy/UIC, Chicago.",100
546,IE7576,illinois,1,1,House,NaN,0,"South Chicago, Chicago.",50
552,DY9962,California,1,1,Condominium,NaN,0,"Valley Village, Los Angeles.",85
586,UW2000,California,8,1,Other,NaN,0,"South LA, Los Angeles.",169
594,VM7350,ILLINOIS,2,1,Apartment,NaN,0,"Little Italy/UIC, Chicago.",46
632,NH9205,California,4,2,Apartment,NaN,0,"El Segundo, Los Angeles.",100

In [11]:
airbnb_df.dropna()

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48
2,OZ5857,ILLINOIS,4,3,Apartment,100.0,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64
5,PP4626,California,2,1,Apartment,92.0,211,"Western Addition/NOPA, San Francisco.",129
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.0,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115

In [12]:
airbnb_df['rating'].mean()

np.float64(94.82)

In [13]:
rating_mean = airbnb_df['rating'].mean()

In [14]:
airbnb_df['rating'].fillna(rating_mean)

0       96.00
1       94.82
2      100.00
3       75.00
4       88.00
        ...
708     97.00
709     93.00
710     93.00
711     80.00
712     96.00
Name: rating, Length: 713, dtype: float64

In [15]:
airbnb_df['rating'] = airbnb_df['rating'].fillna(rating_mean)
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,94.82,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.00,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.00,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115

In [16]:
airbnb_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
708    False
709    False
710    False
711    False
712    False
Length: 713, dtype: bool

In [17]:
airbnb_df.duplicated().sum()

np.int64(2)

In [18]:
airbnb_df[airbnb_df.duplicated()]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
493,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
496,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124

In [19]:
airbnb_df[airbnb_df.duplicated(subset='id')]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
448,LN3479,California,2,2,Apartment,98.0,19,"East Hollywood, Los Angeles.",88
452,LN3479,California,2,2,Apartment,99.0,25,"East Hollywood, Los Angeles.",91
493,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
496,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
527,QO8555,California,7,4,House,80.0,1,"Excelsior, San Francisco.",199
601,BZ3596,Illinois,2,1,House,89.0,30,"Lakeview, Chicago.",119

In [21]:
airbnb_df[airbnb_df.duplicated(subset=['id','n_reviews','price'])]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
493,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
496,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124

In [22]:
airbnb_df[airbnb_df.duplicated(subset='id', keep='last')]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
6,LN3479,California,2,2,Apartment,96.0,15,"East Hollywood, Los Angeles.",88
201,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
273,QO8555,California,7,4,House,85.0,3,"Excelsior, San Francisco.",199
448,LN3479,California,2,2,Apartment,98.0,19,"East Hollywood, Los Angeles.",88
493,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
541,BZ3596,Illinois,2,1,Apartment,91.0,28,"Lakeview, Chicago.",119

In [23]:
airbnb_df[airbnb_df.duplicated(subset='id', keep=False)]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
6,LN3479,California,2,2,Apartment,96.0,15,"East Hollywood, Los Angeles.",88
201,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
273,QO8555,California,7,4,House,85.0,3,"Excelsior, San Francisco.",199
448,LN3479,California,2,2,Apartment,98.0,19,"East Hollywood, Los Angeles.",88
452,LN3479,California,2,2,Apartment,99.0,25,"East Hollywood, Los Angeles.",91
493,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
496,UD8253,MASSACHUSETTS,3,1,Apartment,100.0,1,"Fenway/Kenmore, Boston.",124
527,QO8555,California,7,4,House,80.0,1,"Excelsior, San Francisco.",199
541,BZ3596,Illinois,2,1,Apartment,91.0,28,"Lakeview, Chicago.",119
601,BZ3596,Illinois,2,1,House,89.0,30,"Lakeview, Chicago.",119

In [25]:
airbnb_df.drop_duplicates()

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,94.82,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.00,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.00,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115

In [26]:
airbnb_df.drop_duplicates(subset='id')

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,94.82,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.00,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.00,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115

In [27]:
airbnb_df.drop_duplicates(subset='id', keep='last')

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,94.82,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.00,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.00,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115

In [28]:
airbnb_df = airbnb_df.drop_duplicatess(subset='id', keep='last')

In [30]:
airbnb_df.duplicated().sum()

np.int64(0)

In [34]:
q1 = airbnb_df['price'].quantile(0.25)
q3 = airbnb_df['price'].quantile(0.75)
iqr = q3 - q1

In [35]:
low = q1 - 1.5*iqr
upper = q3 + 1.5*iqr
airbnb_df['price'] < low

0      False
1      False
2      False
3      False
4      False
       ...
708    False
709    False
710    False
711    False
712    False
Name: price, Length: 707, dtype: bool

In [36]:
airbnb_df[airbnb_df['price'] < low]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
13,HB7516,Illinois,1,1,Apartment,94.0,56,"Little Italy/UIC, Chicago.",14
43,IT4655,California,2,8,Hostel,91.0,27,"Westlake, Los Angeles.",14

In [37]:
airbnb_df[airbnb_df['price'] > upper]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
91,FG7538,California,6,3,House,100.0,6,"Marina, San Francisco.",1800
442,ZL3688,California,16,8,Villa,92.0,7,"Malibu, Los Angeles.",1794

In [38]:
airbnb_df[(airbnb_df['price'] < low)|(airbnb_df['price'] > upper)]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
13,HB7516,Illinois,1,1,Apartment,94.0,56,"Little Italy/UIC, Chicago.",14
43,IT4655,California,2,8,Hostel,91.0,27,"Westlake, Los Angeles.",14
91,FG7538,California,6,3,House,100.0,6,"Marina, San Francisco.",1800
442,ZL3688,California,16,8,Villa,92.0,7,"Malibu, Los Angeles.",1794

In [40]:
con1 = airbnb_df['price'] >= low
con2 = airbnb_df['price'] <=  upper
airbnb_df[con1 & con2]

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,94.82,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.00,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.00,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115

In [41]:
airbnb_df['state'].unique()

array(['Illinois', 'MASSACHUSETTS', 'ILLINOIS', 'california',
       'massachusetts', 'California', 'Massachusetts', 'CALIFORNIA',
       'illinois'], dtype=object)

In [42]:
airbnb_df['state'].str.lower()

0           illinois
1      massachusetts
2           illinois
3         california
4      massachusetts
           ...
708       california
709       california
710       california
711         illinois
712    massachusetts
Name: state, Length: 707, dtype: object

In [43]:
airbnb_df['state'].str.upper()

0           ILLINOIS
1      MASSACHUSETTS
2           ILLINOIS
3         CALIFORNIA
4      MASSACHUSETTS
           ...
708       CALIFORNIA
709       CALIFORNIA
710       CALIFORNIA
711         ILLINOIS
712    MASSACHUSETTS
Name: state, Length: 707, dtype: object

In [44]:
airbnb_df['state'].str.capitalize()

0           Illinois
1      Massachusetts
2           Illinois
3         California
4      Massachusetts
           ...
708       California
709       California
710       California
711         Illinois
712    Massachusetts
Name: state, Length: 707, dtype: object

In [45]:
airbnb_df['state'] = airbnb_df['state'].str.capitalize()
airbnb_df

/tmp/ipython-input-1147885441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_df['state'] = airbnb_df['state'].str.capitalize()

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48
1,DB7921,Massachusetts,4,1,Apartment,94.82,0,"South End, Boston.",115
2,OZ5857,Illinois,4,3,Apartment,100.00,51,"Avondale, Chicago.",150
3,HY8797,California,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125
4,VN7858,Massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150
709,ZR5298,California,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100
711,EE8333,Illinois,2,1,House,80.00,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115

In [46]:
airbnb_df['location'].str.split(', ')

0               [Avondale, Chicago.]
1               [South End, Boston.]
2               [Avondale, Chicago.]
3             [SoMa, San Francisco.]
4            [West Roxbury, Boston.]
                   ...
708           [Venice, Los Angeles.]
709     [Mid-Wilshire, Los Angeles.]
710    [Redondo Beach, Los Angeles.]
711             [Lakeview, Chicago.]
712           [East Boston, Boston.]
Name: location, Length: 707, dtype: object

In [47]:
airbnb_df['neighborhood'] = airbnb_df['location'].str.split(', ').str[0]

/tmp/ipython-input-2545322789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_df['neighborhood'] = airbnb_df['location'].str.split(', ').str[0]

In [48]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,location,price,neighborhood
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48,Avondale
1,DB7921,Massachusetts,4,1,Apartment,94.82,0,"South End, Boston.",115,South End
2,OZ5857,Illinois,4,3,Apartment,100.00,51,"Avondale, Chicago.",150,Avondale
3,HY8797,California,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125,SoMa
4,VN7858,Massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64,West Roxbury
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150,Venice
709,ZR5298,California,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100,Mid-Wilshire
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100,Redondo Beach
711,EE8333,Illinois,2,1,House,80.00,15,"Lakeview, Chicago.",115,Lakeview
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115,East Boston

In [49]:
airbnb_df['city'] = airbnb_df['location'].str.split(', ').str[1]

/tmp/ipython-input-3379051251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_df['city'] = airbnb_df['location'].str.split(', ').str[1]

In [50]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,location,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.00,55,"Avondale, Chicago.",48,Avondale,Chicago.
1,DB7921,Massachusetts,4,1,Apartment,94.82,0,"South End, Boston.",115,South End,Boston.
2,OZ5857,Illinois,4,3,Apartment,100.00,51,"Avondale, Chicago.",150,Avondale,Chicago.
3,HY8797,California,2,1,Apartment,75.00,4,"SoMa, San Francisco.",125,SoMa,San Francisco.
4,VN7858,Massachusetts,2,1,House,88.00,23,"West Roxbury, Boston.",64,West Roxbury,Boston.
...,...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,"Venice, Los Angeles.",150,Venice,Los Angeles.
709,ZR5298,California,4,2,Apartment,93.00,3,"Mid-Wilshire, Los Angeles.",100,Mid-Wilshire,Los Angeles.
710,XZ5531,California,2,1,Bungalow,93.00,3,"Redondo Beach, Los Angeles.",100,Redondo Beach,Los Angeles.
711,EE8333,Illinois,2,1,House,80.00,15,"Lakeview, Chicago.",115,Lakeview,Chicago.
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,"East Boston, Boston.",115,East Boston,Boston.

In [51]:
airbnb_df = airbnb_df.drop(columns='location')

In [52]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.00,55,48,Avondale,Chicago.
1,DB7921,Massachusetts,4,1,Apartment,94.82,0,115,South End,Boston.
2,OZ5857,Illinois,4,3,Apartment,100.00,51,150,Avondale,Chicago.
3,HY8797,California,2,1,Apartment,75.00,4,125,SoMa,San Francisco.
4,VN7858,Massachusetts,2,1,House,88.00,23,64,West Roxbury,Boston.
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,150,Venice,Los Angeles.
709,ZR5298,California,4,2,Apartment,93.00,3,100,Mid-Wilshire,Los Angeles.
710,XZ5531,California,2,1,Bungalow,93.00,3,100,Redondo Beach,Los Angeles.
711,EE8333,Illinois,2,1,House,80.00,15,115,Lakeview,Chicago.
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,115,East Boston,Boston.

In [53]:
airbnb_df[airbnb_df['city'] == 'Boston']

Empty DataFrame
Columns: [id, state, guests, beds, property_type, rating, n_reviews, price, neighborhood, city]
Index: []

In [54]:
airbnb_df['city'].unique()

array(['Chicago.', 'Boston.', 'San Francisco.', 'Los Angeles.'],
      dtype=object)

In [55]:
airbnb_df['city'] = airbnb_df['city'].str.strip()

In [56]:
airbnb_df['city'] = airbnb_df['city'].str.replace('.', '', regex=False)
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.00,55,48,Avondale,Chicago
1,DB7921,Massachusetts,4,1,Apartment,94.82,0,115,South End,Boston
2,OZ5857,Illinois,4,3,Apartment,100.00,51,150,Avondale,Chicago
3,HY8797,California,2,1,Apartment,75.00,4,125,SoMa,San Francisco
4,VN7858,Massachusetts,2,1,House,88.00,23,64,West Roxbury,Boston
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.00,60,150,Venice,Los Angeles
709,ZR5298,California,4,2,Apartment,93.00,3,100,Mid-Wilshire,Los Angeles
710,XZ5531,California,2,1,Bungalow,93.00,3,100,Redondo Beach,Los Angeles
711,EE8333,Illinois,2,1,House,80.00,15,115,Lakeview,Chicago
712,AA6024,Massachusetts,3,1,Apartment,96.00,61,115,East Boston,Boston

In [57]:
patient_df = pd.read_csv('/content/drive/MyDrive/study/data/patient.csv')
patient_df

     age     sex  glucose  cholesterol  height  weight  hip  waist diabetes
0     50    Male      385          140    1.75    78.0   41     37        Y
1     37  Female       67          214    1.63    65.8   42     34        N
2     43  Female      100          160    1.63    63.5   40     37        N
3     32  Female       90          176    1.60   114.3   58     45        N
4     20    Male       71          164    1.83    65.8   36     29        N
..   ...     ...      ...          ...     ...     ...  ...    ...      ...
343   40    Male       87          218    1.85    90.7   41     38        N
344   66    Male      174          188    1.73    95.3   48     45        N
345   31  Female       69          183    1.68    86.2   47     41        N
346   44    Male       84          202    1.73    71.2   37     33        N
347   40  Female       85          169    1.65    81.6   44     40        N

[348 rows x 9 columns]

In [58]:
patient_df['waist'] / patient_df['hip']

0      0.902439
1      0.809524
2      0.925000
3      0.775862
4      0.805556
         ...
343    0.926829
344    0.937500
345    0.872340
346    0.891892
347    0.909091
Length: 348, dtype: float64

In [59]:
round(patient_df['waist'] / patient_df['hip'], 2)

0      0.90
1      0.81
2      0.92
3      0.78
4      0.81
       ...
343    0.93
344    0.94
345    0.87
346    0.89
347    0.91
Length: 348, dtype: float64

In [60]:
patient_df['waist_hip_raito'] =round(patient_df['waist'] / patient_df['hip'], 2)
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_raito
0,50,Male,385,140,1.75,78.0,41,37,Y,0.90
1,37,Female,67,214,1.63,65.8,42,34,N,0.81
2,43,Female,100,160,1.63,63.5,40,37,N,0.92
3,32,Female,90,176,1.60,114.3,58,45,N,0.78
4,20,Male,71,164,1.83,65.8,36,29,N,0.81
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,0.93
344,66,Male,174,188,1.73,95.3,48,45,N,0.94
345,31,Female,69,183,1.68,86.2,47,41,N,0.87
346,44,Male,84,202,1.73,71.2,37,33,N,0.89
347,40,Female,85,169,1.65,81.6,44,40,N,0.91

In [61]:
patient_df['bmi'] = round(patient_df['weight'] / (patient_df['height']**2), 1)
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_raito,bmi
0,50,Male,385,140,1.75,78.0,41,37,Y,0.90,25.5
1,37,Female,67,214,1.63,65.8,42,34,N,0.81,24.8
2,43,Female,100,160,1.63,63.5,40,37,N,0.92,23.9
3,32,Female,90,176,1.60,114.3,58,45,N,0.78,44.6
4,20,Male,71,164,1.83,65.8,36,29,N,0.81,19.6
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,0.93,26.5
344,66,Male,174,188,1.73,95.3,48,45,N,0.94,31.8
345,31,Female,69,183,1.68,86.2,47,41,N,0.87,30.5
346,44,Male,84,202,1.73,71.2,37,33,N,0.89,23.8
347,40,Female,85,169,1.65,81.6,44,40,N,0.91,30.0

In [62]:
(patient_df['height'] - patient_df['height'].min()) / \
 (patient_df['height'].max() - patient_df['height'].min())

0      0.704918
1      0.508197
2      0.508197
3      0.459016
4      0.836066
         ...
343    0.868852
344    0.672131
345    0.590164
346    0.672131
347    0.540984
Name: height, Length: 348, dtype: float64

In [63]:
patient_df['height'] = (patient_df['height'] - patient_df['height'].min()) / \
 (patient_df['height'].max() - patient_df['height'].min())

In [64]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_raito,bmi
0,50,Male,385,140,0.704918,78.0,41,37,Y,0.90,25.5
1,37,Female,67,214,0.508197,65.8,42,34,N,0.81,24.8
2,43,Female,100,160,0.508197,63.5,40,37,N,0.92,23.9
3,32,Female,90,176,0.459016,114.3,58,45,N,0.78,44.6
4,20,Male,71,164,0.836066,65.8,36,29,N,0.81,19.6
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,0.868852,90.7,41,38,N,0.93,26.5
344,66,Male,174,188,0.672131,95.3,48,45,N,0.94,31.8
345,31,Female,69,183,0.590164,86.2,47,41,N,0.87,30.5
346,44,Male,84,202,0.672131,71.2,37,33,N,0.89,23.8
347,40,Female,85,169,0.540984,81.6,44,40,N,0.91,30.0

In [65]:
patient_df['height'].describe()

count    348.000000
mean       0.590588
std        0.163932
min        0.000000
25%        0.459016
50%        0.590164
75%        0.704918
max        1.000000
Name: height, dtype: float64

In [67]:
patient_df['weight'] = (patient_df['weight'] - patient_df['weight'].min()) / (patient_df['weight'].max() - patient_df['weight'].min())
patient_df['weight']

0      0.322927
1      0.203902
2      0.181463
3      0.677073
4      0.203902
         ...
343    0.446829
344    0.491707
345    0.402927
346    0.256585
347    0.358049
Name: weight, Length: 348, dtype: float64

In [68]:
patient_df = pd.read_csv('/content/drive/MyDrive/study/data/patient.csv')
patient_df

     age     sex  glucose  cholesterol  height  weight  hip  waist diabetes
0     50    Male      385          140    1.75    78.0   41     37        Y
1     37  Female       67          214    1.63    65.8   42     34        N
2     43  Female      100          160    1.63    63.5   40     37        N
3     32  Female       90          176    1.60   114.3   58     45        N
4     20    Male       71          164    1.83    65.8   36     29        N
..   ...     ...      ...          ...     ...     ...  ...    ...      ...
343   40    Male       87          218    1.85    90.7   41     38        N
344   66    Male      174          188    1.73    95.3   48     45        N
345   31  Female       69          183    1.68    86.2   47     41        N
346   44    Male       84          202    1.73    71.2   37     33        N
347   40  Female       85          169    1.65    81.6   44     40        N

[348 rows x 9 columns]

In [69]:
(patient_df['height'] - patient_df['height'].mean()) / patient_df['height'].std()

0      0.697426
1     -0.502595
2     -0.502595
3     -0.802600
4      1.497440
         ...
343    1.697444
344    0.497423
345   -0.002586
346    0.497423
347   -0.302592
Name: height, Length: 348, dtype: float64

In [70]:
patient_df['height'] = (patient_df['height'] - patient_df['height'].mean()) / patient_df['height'].std()

In [71]:
patient_df['height'].describe()

count    3.480000e+02
mean    -9.034918e-16
std      1.000000e+00
min     -3.602650e+00
25%     -8.026005e-01
50%     -2.586253e-03
75%      6.974262e-01
max      2.497458e+00
Name: height, dtype: float64

In [72]:
patient_df['weight'] = (patient_df['weight'] - patient_df['weight'].mean()) / patient_df['weight'].std()
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes
0,50,Male,385,140,0.697426,-0.165566,41,37,Y
1,37,Female,67,214,-0.502595,-0.821892,42,34,N
2,43,Female,100,160,-0.502595,-0.945626,40,37,N
3,32,Female,90,176,-0.802600,1.787274,58,45,N
4,20,Male,71,164,1.497440,-0.821892,36,29,N
...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,0.517659,41,38,N
344,66,Male,174,188,0.497423,0.765127,48,45,N
345,31,Female,69,183,-0.002586,0.275572,47,41,N
346,44,Male,84,202,0.497423,-0.531387,37,33,N
347,40,Female,85,169,-0.302592,0.028104,44,40,N

In [73]:
patient_df = pd.read_csv('/content/drive/MyDrive/study/data/patient.csv')
patient_df

     age     sex  glucose  cholesterol  height  weight  hip  waist diabetes
0     50    Male      385          140    1.75    78.0   41     37        Y
1     37  Female       67          214    1.63    65.8   42     34        N
2     43  Female      100          160    1.63    63.5   40     37        N
3     32  Female       90          176    1.60   114.3   58     45        N
4     20    Male       71          164    1.83    65.8   36     29        N
..   ...     ...      ...          ...     ...     ...  ...    ...      ...
343   40    Male       87          218    1.85    90.7   41     38        N
344   66    Male      174          188    1.73    95.3   48     45        N
345   31  Female       69          183    1.68    86.2   47     41        N
346   44    Male       84          202    1.73    71.2   37     33        N
347   40  Female       85          169    1.65    81.6   44     40        N

[348 rows x 9 columns]

In [75]:
patient_df['age'].describe()

count    348.000000
mean      43.505747
std       13.473101
min       20.000000
25%       33.000000
50%       42.000000
75%       55.000000
max       69.000000
Name: age, dtype: float64

In [76]:
pd.cut(patient_df['age'], bins=[20, 30, 40, 50, 60, 70])

0      (40.0, 50.0]
1      (30.0, 40.0]
2      (40.0, 50.0]
3      (30.0, 40.0]
4               NaN
           ...
343    (30.0, 40.0]
344    (60.0, 70.0]
345    (30.0, 40.0]
346    (40.0, 50.0]
347    (30.0, 40.0]
Name: age, Length: 348, dtype: category
Categories (5, interval[int64, right]): [(20, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70]]

In [77]:
patient_df['age_group'] = pd.cut(patient_df['age'], bins=[20, 30, 40, 50, 60, 70])

In [78]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,age_group
0,50,Male,385,140,1.75,78.0,41,37,Y,"(40.0, 50.0]"
1,37,Female,67,214,1.63,65.8,42,34,N,"(30.0, 40.0]"
2,43,Female,100,160,1.63,63.5,40,37,N,"(40.0, 50.0]"
3,32,Female,90,176,1.60,114.3,58,45,N,"(30.0, 40.0]"
4,20,Male,71,164,1.83,65.8,36,29,N,NaN
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,"(30.0, 40.0]"
344,66,Male,174,188,1.73,95.3,48,45,N,"(60.0, 70.0]"
345,31,Female,69,183,1.68,86.2,47,41,N,"(30.0, 40.0]"
346,44,Male,84,202,1.73,71.2,37,33,N,"(40.0, 50.0]"
347,40,Female,85,169,1.65,81.6,44,40,N,"(30.0, 40.0]"

In [79]:
patient_df['age_group'] = pd.cut(patient_df['age'], bins=[20, 30, 40, 50, 60, 70], right=False)

In [80]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,age_group
0,50,Male,385,140,1.75,78.0,41,37,Y,"[50, 60)"
1,37,Female,67,214,1.63,65.8,42,34,N,"[30, 40)"
2,43,Female,100,160,1.63,63.5,40,37,N,"[40, 50)"
3,32,Female,90,176,1.60,114.3,58,45,N,"[30, 40)"
4,20,Male,71,164,1.83,65.8,36,29,N,"[20, 30)"
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,"[40, 50)"
344,66,Male,174,188,1.73,95.3,48,45,N,"[60, 70)"
345,31,Female,69,183,1.68,86.2,47,41,N,"[30, 40)"
346,44,Male,84,202,1.73,71.2,37,33,N,"[40, 50)"
347,40,Female,85,169,1.65,81.6,44,40,N,"[40, 50)"

In [85]:
patient_df['age_group'] = pd.cut(patient_df['age'],
                                 bins=[20, 30, 40, 50, 60, 70],
                                 right=False,
                                 labels=['20s', '30s', '40s', '50s', '60s'])

patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,age_group
0,50,Male,385,140,1.75,78.0,41,37,Y,50s
1,37,Female,67,214,1.63,65.8,42,34,N,30s
2,43,Female,100,160,1.63,63.5,40,37,N,40s
3,32,Female,90,176,1.60,114.3,58,45,N,30s
4,20,Male,71,164,1.83,65.8,36,29,N,20s
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,40s
344,66,Male,174,188,1.73,95.3,48,45,N,60s
345,31,Female,69,183,1.68,86.2,47,41,N,30s
346,44,Male,84,202,1.73,71.2,37,33,N,40s
347,40,Female,85,169,1.65,81.6,44,40,N,40s

In [89]:
patient_df['bmi'] = round(patient_df['weight'] / (patient_df['height']**2), 1)
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,age_group,bmi
0,50,Male,385,140,1.75,78.0,41,37,Y,50s,25.5
1,37,Female,67,214,1.63,65.8,42,34,N,30s,24.8
2,43,Female,100,160,1.63,63.5,40,37,N,40s,23.9
3,32,Female,90,176,1.60,114.3,58,45,N,30s,44.6
4,20,Male,71,164,1.83,65.8,36,29,N,20s,19.6
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,40s,26.5
344,66,Male,174,188,1.73,95.3,48,45,N,60s,31.8
345,31,Female,69,183,1.68,86.2,47,41,N,30s,30.5
346,44,Male,84,202,1.73,71.2,37,33,N,40s,23.8
347,40,Female,85,169,1.65,81.6,44,40,N,40s,30.0

In [95]:
patient_df['obesity'] = pd.cut(patient_df['bmi'],
                                 bins=[0, 18.5, 25, 30, 60],
                                 labels=['under', 'healthy', 'over', 'obese'])

patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,age_group,bmi,obesity
0,50,Male,385,140,1.75,78.0,41,37,Y,50s,25.5,over
1,37,Female,67,214,1.63,65.8,42,34,N,30s,24.8,healthy
2,43,Female,100,160,1.63,63.5,40,37,N,40s,23.9,healthy
3,32,Female,90,176,1.60,114.3,58,45,N,30s,44.6,obese
4,20,Male,71,164,1.83,65.8,36,29,N,20s,19.6,healthy
...,...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,40s,26.5,over
344,66,Male,174,188,1.73,95.3,48,45,N,60s,31.8,obese
345,31,Female,69,183,1.68,86.2,47,41,N,30s,30.5,obese
346,44,Male,84,202,1.73,71.2,37,33,N,40s,23.8,healthy
347,40,Female,85,169,1.65,81.6,44,40,N,40s,30.0,over

In [93]:
patient_df['bmi'].describe()

count    348.000000
mean      28.839368
std        6.710281
min       15.200000
25%       24.175000
50%       27.800000
75%       32.725000
max       55.500000
Name: bmi, dtype: float64